<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/mastery.png"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block extra_css %}{% endblock  %}
  </head>
  <body>
    <div class="outer-menu">
      <input class="checkbox-toggle" type="checkbox" />
      <div class="hamburger">
        <div></div>
      </div>

      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a class="active" href="/">Login</a></li>
              <li><a href="/menu">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% block content %}{% endblock  %}
    {% block extra_script %}{% endblock  %}
  </body>
</html>
